{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
{% block header %} {% endblock header %}
<div class="wrapper-form">
    <div class="background">
        <img class="background-under" src="{{ asset('img/illustrations/loginbackground.png')}}" alt="background-img">
        <img class="background-upper" src="{{ asset('img/illustrations/loginpage.png')}}" alt="background-login">
    </div>
    <div class="log-content">
        <div class="log-content-title">
            <h2>Bienvenue sur</h2>
            <h1><a href="{{ path('app_home')}}">Stellar</a></h1>
            <q>C'est reparti pour l'aventure ?</q>
        </div>
        {% if error %}
        <div class="danger-delete-user">Votre email ou votre mot de passe est incorrect</div>
        <br />
        {% endif %}
        <form class="log-content-form" method="post">

            {% if app.user %}
            <div class="">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
            {% endif %}

            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input"
                autocomplete="email" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="input" autocomplete="current-password"
                required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <p>Pas encore de compte ? Inscrivez vous ici <a href="{{ path('app_register')}}">Sign Up</a></p>



            <button class="sub-btn" type="submit">
                Sign in
            </button>
        </form>
    </div>
</div>
{% endblock %}