{% extends 'base.html.twig' %}

{% block title %}Stellar Accueil{% endblock %}

{% block body %}
{# <div class="background">
    <img src="{{asset('img/stable-diffusion-xl99.png')}}" alt="">
</div> #}

<div class="wrapper">
    <div id="grid" class="advert-card-list">
        {% for advert in adverts %}
                    {# {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('edit_advert', {'id': advert.id}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 
                                1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 
                                0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 
                                3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                            </svg>
                        </a>
                        <a href="{{ path('delete_advert', {'id': advert.id}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 
                                8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </a>
                    {% endif %} #}
                    {# {{ path('show_formation_by_advert', {'id': advert.id}) }} #}
                        <a href="{{ path('detail_advert', {'id': advert.id})}}" class="clickable-card">
                            <div class="advert-card">
                                <figure>
                                    <img src="{{asset('img/maxime2854_real_life_4k_purple_and_blue_sky_with_stars_with_a_b_41a00f6c-41a9-4aaf-8acb-51f94bc47b7f.png')}}" alt="{{ advert.title }} image">
                                </figure>
                                <div class="card-content">
                                    <h3 class="card-title">{{ advert.title}}</h3>
                                    <p class="card-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                        </svg>
                                        {{ advert.city }}, 
                                        {{advert.country}}
                                    </p>
                                    <p class="card-text">
                                        <span class="price-card">{{ advert.price }}€</span>/nuit   
                                    </p>
                                </div>
                            </div>
                        </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
