{% extends 'base.html.twig' %}

{% block title %}Stellar Accueil{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/style.css') }}" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" type="text/css" media="all" />
{% endblock %}
{% block body %}
<div class="wrapper">
    <div class="wrapper-home">
        <div class="search-btn-container">
            <div id="searchButton">
                <span>Click here for filters</span>
                <img src="{{ asset('img/icons/Tune.svg')}}" alt="Filters Icon">
            </div>

            <div id="searchPopup" style="display:none;">
                <h3>Filtres de recherche</h3>
                <div class="filters-container">
                    <div class="filters">
                        <div class="filter">
                            <label>Villes:</label>
                            <input type="text" id="cityInput" placeholder="Tapez et appuyez sur Entrée">
                            <div id="cityTags" class="labels"></div>
                        </div>
                        <div class="filter">
                            <label>Pays:</label>
                            <input type="text" id="countryInput" placeholder="Tapez et appuyez sur Entrée">
                            <div id="countryTags" class="labels"></div>
                        </div>
                    </div>
                    <div class="filters">
                        <div class="filter">
                            <div class="price-filter-input">
                                <label for="priceMin">Prix Min :</label>
                                <input type="number" min=0 max="9900" oninput="validity.valid||(value='0');"
                                id="min_price" name="priceMin" class="price-range-field" />
                                <label for="priceMax">Prix Max :</label>
                                <input type="number" min=0 max="10000" oninput="validity.valid||(value='10000');"
                                    id="max_price" name="priceMax" class="price-range-field" />
                            </div>
                            <div id="slider-range" class="price-filter-range" name="rangeInput"></div>
                        </div>
                    </div>
                    <div class="filters">
                        <div class="filter">
                            <label>Date d'arrivée:</label>
                            <input type="date" id="startDate">
                        </div>
                        <div class="filter">
                            <label>Date de départ:</label>
                            <input type="date" id="endDate">
                        </div>
                    </div>
                </div>
                <button id="apply-filter-btn" class="l-btn">Appliquer les filtres</button>
            </div>
        </div>
        <div class="map">
            <div id="map"></div>
        </div>
        <div class="adverts-container">
            <div id="grid" class="advert-card-list">
                {% for advert in adverts %}
                <div class="advert-card slide-in">
                    <a href="{{ path('detail_advert', {'id': advert.id})}}" class="clickable-card">
                        <figure>
                            {% if advert.images is not empty %}
                            <img src="{{ asset('uploads/' ~ advert.images[0].url) }}" alt="{{ advert.title }} image">
                            {% endif %}
                        </figure>
                        <div class="card-content">
                            <h3 class="card-title">{{ advert.title}}</h3>
                            <p class="card-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                                </svg>
                                {{ advert.city }},
                                {{ advert.country }}
                            </p>
                            <p class="card-text">
                                <span class="price-card">{{ advert.price }}€</span>/nuit
                            </p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="pagination">
                {% set totalPages = (totalAdverts + perPage - 1) / perPage | round(0, 'ceil') %}
                {% for pageNumber in range(1, totalPages + 1) %}
                    <a href="{{ path(app.request.attributes.get('_route'), {'page': pageNumber}) }}" {% if pageNumber==page
                    %}class="active" {% else %}class="pages" {% endif %}>{{ pageNumber }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="map-popup-container" id="map-popup-container">

        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
<script defer src="{{ asset('js/filter.js') }}"></script>
<script src="{{ asset('js/app.js') }}"></script>
<script src="{{ asset('js/animations.js') }}"></script>
<script>(g => { let h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); let d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
        ({ key: "AIzaSyDKMfraFkzITgdFU4n3x1xu451mtxmGI8E", v: "beta" });</script>
<script>
    // Initialize and add the map
    let map;

    async function initMap() {
        // The location of the init map
        const position = { lat: 37.787994, lng: -122.407437 };
        // Request needed libraries.
        //@ts-ignore
        const { Map } = await google.maps.importLibrary("maps");

        // Librairie pour modifier les marqueurs
        const { AdvancedMarkerView } = await google.maps.importLibrary("marker");


        const infoWindow = new google.maps.InfoWindow();

        // Nouvelle map est ses spécificités
        map = new Map(document.getElementById("map"), {
            zoom: 11,
            minZoom: 3,
            center: position,
            mapId: "DEMO_MAP_ID",
            gestureHandling: "greedy",
        });

        // Loop through your adverts and add markers for each one
        {% for advert in adverts %}
        (function () {


            let geocoder = new google.maps.Geocoder();
            // Déclaration de l'adresse 
            let address = "{{ advert.address }}, {{ advert.city }}, {{ advert.cp }}, {{ advert.country }}";
            let title = "{{ advert.title }}";
            let imgSrc = "{{ asset('uploads/' ~ advert.images[0].url) }}";
            let detailURL = "{{ path('detail_advert', {'id': advert.id}) }}";
            let price = "{{ advert.price }}";

            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status === 'OK') {
                    let location = results[0].geometry.location;
                    let lat = location.lat();
                    let lng = location.lng();

                    // Créez un marqueur pour chaque annonce
                    let marker = new google.maps.Marker({
                        position: { lat: lat, lng: lng },
                        map: map,
                        title: title,
                        label: {
                            text: price + "€",
                            className: "custom-price-label"

                        },
                        cursor: "pointer"
                    });

                    let closeInfoWindowTimer;

                    // Ouverture de l'InfoWindow lors du survol du marqueur
                    marker.addListener('mouseover', function () {
                        const contentString = `
                            <div class="map-popup-container" id="map-popup-container">
                                <img src="{{ asset('uploads/' ~ advert.images[0].url) }}" alt="{{ advert.title }}" width="50" height="50">
                                <div id="infoWindowContent">
                                    <h4>{{ advert.title }}</h4>
                                </div>
                            </div>`;
                        infoWindow.setContent(contentString);
                        infoWindow.open(map, marker);

                        // Écouteur d'événements pour quand l'InfoWindow est prêt
                        google.maps.event.addListenerOnce(infoWindow, 'domready', function () {
                            // Récupérer l'élément DOM de l'InfoWindow
                            const iwOuter = document.getElementById('map-popup-container');

                            // Empêcher la fermeture lorsqu'on survole l'InfoWindow
                            iwOuter.addEventListener('mouseover', function () {
                                clearTimeout(closeInfoWindowTimer);
                            });

                            // Activer la fermeture lorsqu'on quitte l'InfoWindow
                            iwOuter.addEventListener('mouseout', function () {
                                closeInfoWindowTimer = setTimeout(() => {
                                    infoWindow.close();
                                }, 100); // fermer après 100 ms, à ajuster selon vos besoins
                            });
                        });
                    });
                    // Programmation de la fermeture de l'InfoWindow lorsqu'on quitte le marqueur
                    marker.addListener('mouseout', function () {
                        closeInfoWindowTimer = setTimeout(() => {
                            infoWindow.close();
                        }, 100);
                    });
                    // Annulation de la fermeture de l'InfoWindow lorsqu'on survole à nouveau le marqueur
                    marker.addListener('mouseover', function () {
                        clearTimeout(closeInfoWindowTimer);
                    });

                    // Rendre le marqueur cliquable
                    marker.addListener('click', function () {
                        window.location.href = detailURL;
                    });

                } else {
                    console.error('Erreur de géocodage pour l\'annonce "' + title + '": ' + status);
                }
            });
        })();

        {% endfor %}

        for (const marker of markers) {
            marker.setMap(null);
        }
    }

    initMap();
</script>
{% endblock javascripts %}