{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
<h1>Nouvelle Réservation</h1>

{{ form_start(formAddReservation) }}



<div class="price-details">
    <div class="price">
        <p><span id="pricePerNight">{{advert.price}}</span> x <span id="numNights">0</span> nuits = </p><span
            class="total-span" id="totalNightPrice">0€</span>
    </div>
    <div class="price">
        <p>Frais Stellar 5%:</p><span class="total-span" id="stellarFees">0€</span>
    </div>
    <div class="price">
        <p>Total:</p><span class="total-span" id="totalPrice">0€</span>
    </div>
</div>

{{ form_row(formAddReservation.arrivalDate, {'attr': {'id': 'arrivalDate'}}) }}
{{ form_row(formAddReservation.departureDate, {'attr': {'id': 'departureDate'}}) }}

{{ form_row(formAddReservation.firstname) }}
{{ form_row(formAddReservation.surname) }}
{{ form_row(formAddReservation.dateOfBirth) }}
{{ form_row(formAddReservation.address) }}
{{ form_row(formAddReservation.cp) }}
{{ form_row(formAddReservation.city) }}
{{ form_row(formAddReservation.country) }}

<button type="submit" class="btn btn-primary">Réserver</button>
{{ form_end(formAddReservation) }}
{% endblock %}
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Récupérez les données de localStorage
        let arrivalDate = localStorage.getItem('arrivalDate');
        let departureDate = localStorage.getItem('departureDate');
        let totalPrice = localStorage.getItem('totalPrice');
        let stellarFees = localStorage.getItem('stellarFees');
        let totalNightPrice = localStorage.getItem('totalNightPrice');

        // Vérifiez si les dates sont correctes
        console.log("Arrival Date:", arrivalDate);
        console.log("Departure Date:", departureDate);
        console.log("Total Price:", totalPrice);

        // Insérez les données dans les balises <p>
        $('#arrivalDate').text(arrivalDate);
        $('#departureDate').text(departureDate);
        $('#pricePerNight').text(pricePerNight);
        $('#stellarFees').text(stellarFees);
        $('#totalPrice').text(totalPrice);
    });
</script>
{% endblock javascripts %}