{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
<h1>Nouvelle Réservation</h1>

{{ form_start(formAddReservation) }}

{{ form_widget(formAddReservation.arrivalDate, {'attr': {'id': 'arrivalDate'}}) }}
{{ form_widget(formAddReservation.departureDate, {'attr': {'id': 'departureDate'}}) }}

{{ form_row(formAddReservation.firstname) }}
{{ form_row(formAddReservation.surname) }}
{{ form_row(formAddReservation.dateOfBirth) }}
{{ form_row(formAddReservation.address) }}
{{ form_row(formAddReservation.cp) }}
{{ form_row(formAddReservation.city) }}
{{ form_row(formAddReservation.country) }}

<button type="submit" class="btn btn-primary">Réserver</button>
{{ form_end(formAddReservation) }}
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function () {
      // Récupérez les données de localStorage
      let arrivalDate = localStorage.getItem('arrivalDate');
      let departureDate = localStorage.getItem('departureDate');
      let totalPrice = localStorage.getItem('totalPrice');
      let stellarFees = localStorage.getItem('stellarFees');
      let totalNightPrice = localStorage.getItem('totalNightPrice');
      let numNights = localStorage.getItem('numNights');
  

        console.log(arrivalDate)
        console.log(departureDate)
        console.log(totalPrice)
        console.log(totalNightPrice)
        console.log(numNights)
        console.log(stellarFees)

      // Mettre à jour les champs d'entrée date sur la page de réservation
      $('#arrivalDate').val(arrivalDate);
      $('#departureDate').val(departureDate);
  
      // Mettre à jour d'autres éléments de la page de réservation si nécessaire...
      // Par exemple, si vous souhaitez afficher les dates dans une autre partie de la page
      $('#displayedArrivalDate').text(arrivalDate);
      $('#displayedDepartureDate').text(departureDate);
  
      // Mettre à jour les prix et les frais si nécessaire...
      $('#pricePerNight').text(pricePerNight);
      $('#stellarFees').text(stellarFees);
      $('#totalPrice').text(totalPrice);
    });
  </script>
{% endblock javascripts %}