<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{asset('img/logo.png')}}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('build/style.css') }}">
        {% endblock %}

    </head>
    <body>
        <header>
            <figure class="fig-logo">
                <img class="logo" src="{{asset('img/logo.png')}}" alt="Stellar" >
            </figure>
        </header>
        <main>
            
        </main>
        <footer>
            
        </footer>
        {% block body %}
        {% endblock %}
    </body>
    {% block javascripts %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
</html>
