<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{asset('img/logo.png')}}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('build/style.css') }}">
        {% endblock %}

    </head>
    <body>
        <header>
            <figure class="fig-logo">
                <img class="logo" src="{{asset('img/logo.png')}}" alt="Stellar" >
            </figure>
            {% if app.user %}
            <div class="log">
                <a href="{{ path('app_logout')}}">Se déconnecter</a>
                <figure class="profil-picture ">
                    {# <a href="{{path('app_profil', {'id': app.user.id})}}"> #}
                        <img class="profil-picture" src="{{asset('img/anonymous.png')}}" alt="">
                    {# </a> #}
                </figure>
            </div>
            {% else %}
                <div class="log">
                    <a href="{{ path('app_register') }}"><button class="btn btn-secondary" type="button">SignUp</button></a>
                    <a href="{{ path('app_login') }}"><button class="btn btn-success" type="button">LogIn</button></a>
                </div>
            {% endif %}
        </header>
        <main>
            
        </main>
        <footer>
            
        </footer>
        {% block body %}
        {% endblock %}
    </body>
    {% block javascripts %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
</html>
