<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{asset('img/logo.png')}}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('build/style.css') }}">
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
            <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
            <script src="https://cdn.maptiler.com/maptiler-sdk-js/v1.1.1/maptiler-sdk.umd.js"></script>
            <link href="https://cdn.maptiler.com/maptiler-sdk-js/v1.1.1/maptiler-sdk.css" rel="stylesheet" />
            <script src="https://cdn.maptiler.com/leaflet-maptilersdk/v1.0.0/leaflet-maptilersdk.js"></script>
        {% endblock %}

    </head>
    <body>
        <header>
            <div class="logo">
                <a href="{{ path('app_home')}}">
                    <figure class="fig-logo">
                        <img class="icon-logo" src="{{asset('img/logo-black.png')}}" alt="Stellar" >
                    </figure>
                    <h1 class="title">STELLAR.</h1>
                </a>
            </div>
            {% if app.user %}
                <div class="log">
                    <figure class="profil-picture ">
                            <img id="profil-picture" src="{{asset('img/unnamed.jpg')}}" alt="">
                    </figure>
                    <div id="profil-menu" class="active">
                        <ul>
                            <h4>Hi, {{ app.user.username }}</h4>
                            <li><a href="">Mon profil</a></li>
                            {# {{ path('app_profil')}} #}
                            <li><a href="">Modifier mon profil</a></li>
                            {# {{ path('app_profil_edit')}} #}
                            <li><a href="{{ path('new_advert')}}">Créer mon annonce</a></li>
                            {% if app.user.adverts is not empty %} {# si mon user a des annonces #}
                                <li><a href="{{ path('user_adverts')}}">Mes annonces</a></li>
                            {% endif %}
                            <hr>
                            <li><b><a href="{{ path('app_logout')}}">Se déconnecter</a></b></li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class="log">
                    <a href="{{ path('app_register') }}"><button class="log-btn up" type="button">SignUp</button></a>
                    <a href="{{ path('app_login') }}"><button class="log-btn in" type="button">LogIn</button></a>
                </div>
                {% endif %}
            </header>
        <main>
            {% block body %}
        </main>
        <footer>
        </footer>
        {% endblock %}
    </body>
    {% block javascripts %}
        {{ encore_entry_link_tags('app') }}
        <script src="{{asset('js/app.js')}}"></script>
        <script src="{{asset('js/map.js')}}"></script>
        <script src="{{asset('js/upload.js')}}"></script>
    {% endblock %}
</html>
