<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{asset('img/logo.png')}}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('build/style.css') }}">
        {% endblock %}

    </head>
    <body>
        <header>
            <div class="logo">
                <figure class="fig-logo">
                    <img class="icon-logo" src="{{asset('img/logo.png')}}" alt="Stellar" >
                </figure>
                <h1 class="title">STELLAR.</h1>
            </div>
            {% if app.user %}
                <div class="log">
                    <figure class="profil-picture ">
                            <img id="profil-picture" src="{{asset('img/profilpicture.webp')}}" alt="">
                    </figure>
                    <div id="profil-menu" class="active">
                        <ul>
                            <li><a href="">Mon profil</a></li>
                            {# {{ path('app_profil')}} #}
                            <li><a href="">Modifier mon profil</a></li>
                            {# {{ path('app_profil_edit')}} #}
                            <li><a href="">Créer mon annonce</a></li>
                            {# {{ path('app_add_advert')}} #}
                            <hr>
                            <li><b><a href="{{ path('app_logout')}}">Se déconnecter</a></b></li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class="log">
                    <a href="{{ path('app_register') }}"><button class="log-btn up" type="button">SignUp</button></a>
                    <a href="{{ path('app_login') }}"><button class="log-btn in" type="button">LogIn</button></a>
                </div>
            {% endif %}
        </header>
        <main>
            
        </main>
        <footer>
            
        </footer>
        {% block body %}
        {% endblock %}
    </body>
    {% block javascripts %}
        {{ encore_entry_link_tags('app') }}
        <script src="{{asset('js/app.js')}}"></script>
    {% endblock %}
</html>
