{% extends 'base.html.twig' %}

{% block title %}{{advert.title}}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="wrapper-detail">
            <div class="grid-wrap">
                <div class="img-advert-detail">
                    <div class="l-img">
                            <img src="{{ asset('img/maxime2854_real_life_4k_purple_and_blue_sky_with_stars_with_a_b_41a00f6c-41a9-4aaf-8acb-51f94bc47b7f.png')}}" alt="{{advert.title}}">
                    </div>
                    <div class="sm-img">
                        <img src="{{ asset('img/2ndpics.png')}}" alt="{{advert.title}}">
                        <img src="{{ asset('img/3rdpics.png')}}" alt="{{advert.title}}">
                    </div>
                </div>
            </div>
            <h1>{{advert.title}}</h1>
            <p><b>{{advert.price}}€</b>/Nuits</p>
            <p>
                {# {{advert.description}} #}
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, ducimus culpa? Ipsum nesciunt, excepturi reprehenderit odio laborum aut deleniti architecto repellat sed dicta eveniet placeat? Ex doloremque commodi dignissimos nemo?
            </p>
        </div>
    </div>
{% endblock %}