{% extends 'base.html.twig' %}

{% block title %}{{advert.title}}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="wrapper-detail">
            <div class="grid-wrap">
                {% if advert.images | length > 1 %}
                    <div class="img-advert-detail">
                        <div class="l-img">
                            {% if advert.images | length > 0 %}
                                {% if app.user is same as advert.owner %}
                                    <div class="modif-icons">
                                        {# <a class="modif" href="{{ path('remove_advert_image', {'id': advert.images}) }}"> #}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 
                                                8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                            </svg>
                                        {# </a> #}
                                    </div>
                                {% endif %}
                                <img src="{{ asset('uploads/' ~ advert.images[0].url) }}" alt="{{ advert.title }}">
                            {% endif %}
                        </div>
                        <div class="sm-img">
                            {% if advert.images | length > 1 %}
                                {% for i in 1..(advert.images | length - 1) %}
                                    {% if app.user is same as advert.owner %}
                                        <div class="modif-icons">
                                            {# <a class="modif" href="{{ path('remove_advert_image', {'id': advert.images}) }}"> #}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 
                                                    8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                </svg>
                                            {# </a> #}
                                        </div>
                                    {% endif %}
                                    <img src="{{ asset('uploads/' ~ advert.images[i].url) }}" alt="{{ advert.title }}">
                                {% endfor %}
                                {% if advert.images | length > 3 %}
                                    <button id="showMoreBtn">Afficher plus</button>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="single-img">
                        {% if advert.images | length > 0 %}
                            <img src="{{ asset('uploads/' ~ advert.images[0].url) }}" alt="{{ advert.title }}">
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <script>
                
            </script>
            <h1>{{advert.title}}</h1>
            <p><b>{{advert.price}}€</b>/Nuits</p>
            <p>
                {# {{advert.description}} #}
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, ducimus culpa? Ipsum nesciunt, excepturi reprehenderit odio laborum aut deleniti architecto repellat sed dicta eveniet placeat? Ex doloremque commodi dignissimos nemo?
            </p>
            {# {% for image in advert.images %}
                <img src="{{ asset('uploads/' ~ image.url) }}" alt="Image">
            {% endfor %} #}
        </div>
    </div>
{% endblock %}