{% extends 'base.html.twig' %} {% block title %}Ajouter une annonce{% endblock
%} {% block body %}
<div class="wrapper">
  <div class="wrapper-detail">
    {{ form_start(formAddAdvert) }}
    {{ form_row(formAddAdvert.title) }}
    <div class="upload-files-container">
      <div class="drag-file-area">
        <h3 class="dynamic-message">
            Drag & drop any file here <br>
            <span>or</span>
        </h3>
            <label class="label">
                <span class="browse-files">
                    <input type="file" class="image-input" />
                    <span class="browse-files-text">browse file</span>
                </span>
        </label>
      </div>
      <span class="cannot-upload-message">
        <span class="material-icons-outlined">error</span> Please select a file
        first
        <span class="material-icons-outlined cancel-alert-button">cancel</span>
      </span>
      <div class="file-block">
        <div class="file-info">
          <span class="file-name"> </span> | <span class="file-size"> </span>
        </div>
        <span class="material-icons remove-file-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 
                8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </span>
      </div>
    </div>
    {{ form_row(formAddAdvert.lodge) }}
    {{ form_row(formAddAdvert.category) }}
    {# {{ form_row(formAddAdvert.accessory) }} #}
    {{ form_row(formAddAdvert.price) }}
    {{ form_row(formAddAdvert.address) }}
    {{ form_row(formAddAdvert.city) }}
    {{ form_row(formAddAdvert.cp) }}
    {{ form_row(formAddAdvert.country) }}
    {{ form_row(formAddAdvert.description) }}
    {{ form_row(formAddAdvert.other) }}
    {#
    <div class="dbl-input">#} {#</div>
    #} {#
    <div class="dbl-input">#} {#</div>
    #} {#
    <div class="dbl-input">#} {#</div>
    #}
    {{ form_end(formAddAdvert) }}
  </div>
</div>
{% endblock %}
