{% extends 'base.html.twig' %} {% block title %}Ajouter une annonce{% endblock
%} {% block body %}
<div class="wrapper">
  <div class="wrapper-detail">
    {{ form_start(formAddAdvert) }}
    <div class="image-upload-wrapper" draggable="true">
      <div class="image-upload-card" id="drop-area">
        <label for="advert_images" class="custom-file-upload">
          Drag & Drop here<br />
          or<br />
          <span class="image-input-label-span">Click on the card</span>
        </label>
        <img src="{{ asset('img/imageupload.svg') }}" alt="animation upload" />
        {{ form_row(formAddAdvert.images) }}
      </div>
      <div class="scroll-files">
        <div class="file-list">
          {# {% for image in imagesFromDatabase %}
          <div class="file-list-item">
            <img src="{{ image.url }}" alt="Image" />
            <span class="file-name">{{ image.name }}</span>
            <button class="remove-file-button">Supprimer</button>
          </div>
          {% endfor %} #}
        </div>
      </div>
    </div>
    <div class="input-title">
        {{ form_row(formAddAdvert.title) }}
    </div>
    <div class="info-add-property">
        <div class="info-part">
            {{ form_row(formAddAdvert.address) }}
            {{ form_row(formAddAdvert.city) }}
            {{ form_row(formAddAdvert.cp) }}
            {{ form_row(formAddAdvert.country) }}
        </div>
    </div>
    {{ form_row(formAddAdvert.price) }}
    {{ form_row(formAddAdvert.lodge) }}
    {{ form_row(formAddAdvert.category) }}
    {# {{ form_row(formAddAdvert.accessory) }} #}
    {{ form_row(formAddAdvert.description) }}
    {{ form_row(formAddAdvert.other) }}
    {{ form_end(formAddAdvert) }}
  </div>
</div>
{% endblock %}
