{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}
{% block metatag %}
<meta name="description"
  content="Sur cette page vous pourrez voir votre profil, le modifier et accéder à vos annonces et réservations !">
{% endblock metatag %}
{% block body %}
<div class="wrapper">
  <nav class="breadcrumb-nav">
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ path('app_home') }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-house-door-fill" viewBox="0 0 16 16">
            <path
              d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z" />
          </svg>
        </a>
      </li>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-caret-right-fill" viewBox="0 0 16 16">
          <path
            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
        </svg>
      </span>
      <li class="breadcrumb-item active" aria-current="page">Profil</li>
    </ul>
  </nav>
  <div class="wrapper-detail">
    <div class="wrapper-detail-user">
      <h1>Bienvenue sur votre profil, {{ user.username }}</h1>
      <div class="profil-section">
        <div class="profil-picture-container">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen"
            viewBox="0 0 16 16">
            <path
              d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
          </svg>
          {% if user.avatar is not null %}
          <img id="profil-picture" src="{{ asset('uploads/avatars/' ~ user.avatar)}}" alt="profil picture">
          {% else %}
          <img id="profil-picture" src="{{ asset('img/unnamed.jpg') }}" alt="random profil image" />
          {% endif %}
        </div>

        <div class="personal-information">
          <h2>Informations Personnelles</h2>
          <p>Nom d'utilisateur : {{ user.username }}</p>
          <p>Email : {{ user.email }}</p>
          <a href="{{ path('delete_user') }}">Supprimer mon compte</a>
          {% for flash_error in app.flashes('danger_delete_user') %}
          <div class="danger-delete-user" role="alert">

            {{ flash_error }}
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="stats-counter">
        <div class="counter" id="showAdverts">
          <span id="advertCounter">{{ numberOfAdverts }}</span>
          <p>Mes annonces</p>
        </div>
        <div class="counter" id="showReservedAdverts">
          <span id="uniqueResaCounter">{{ numberOfOwnerReservations }}</span>
          <p>Mes annonces réservées</p>
        </div>
        <div class="counter" id="showReservations">
          <span id="resaCounter">{{ numberOfReservations }}</span>
          <p>Mes réservations</p>
        </div>
      </div>

      {% for flash_error in app.flashes('success_supp_advert') %}
      <div class="success-alert" role="alert">
        {{ flash_error }}
      </div>
      {% endfor %}
      <div id="advertsSection" class="fade">
        <div class="adverts-container">
          <div id="grid" class="advert-card-list">
            {% for advert in myAdverts %}
            <div class="advert-card slide-in">
              <div class="modif-icons">
                <a class="modif" href="{{ path('edit_advert', {'slug': advert.slug, 'id': advert.id}) }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-pen"
                    viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 
                                          1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 
                                          0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 
                                          3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                  </svg>
                </a>
                <span class="modif delete">
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-x"
                    viewBox="0 0 16 16">
                    <path
                      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 
                                          8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                  </svg>
                </span>
              </div>
              <div class="delete-conf">
                <p>Êtes vous sur de vouloir supprimer cette annonce ?</p>
                <a href="{{ path('delete_advert', {'id': advert.id}) }}">Supprimer</a>
                <span>Retour</span>
              </div>
              <a class="clickable-card" href="{{ path('detail_advert', {'slug': advert.slug, 'id': advert.id}) }}">
                <figure>
                  {% if advert.images is not empty %}
                  <img src="{{ asset('uploads/' ~ advert.images[0].url) }}" alt="{{ advert.title }} image">
                  {% endif %}
                </figure>
                <div class="card-content">
                  <h3 class="card-title">{{ advert.title}}</h3>
                  <p class="card-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                      <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                    </svg>
                    {{ advert.city }},
                    {{ advert.country }}
                  </p>
                  <p class="card-text">
                    <span class="price-card">{{ advert.price }}€</span>/nuit
                  </p>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div id="reservedAdvertsSection" style="display: none;" class="fade">
        {% for reservation in myAdvertsReservations %}
        {% set cssClass = '' %}
        {% set now = "now"|date("Y-m-d") %}
        {% if reservation.departureStringForComparison < now %} {% set cssClass='grey-out' %} {% endif %} 
        {# <a href="{{ path('detail_advert', {'slug': reservation.advert.slug, 'id': reservation.advert.id})}}"> #}
          <div class="reservation {{ cssClass }}">
            <div class="left-content">
              <h3>{{ reservation.advert.title }}</h3>
              {% if reservation.departureStringForComparison < now %} <span class="past">Terminé</span>
                {% elseif reservation.arrivalStringForComparison > now %}
                <span class="future">À venir</span>
                {% else %}
                <span class="current">En cours</span>
                {% endif %}
                <p>Utilisateur: {{ reservation.user.username }}</p>
                <p>Email: {{ reservation.user.email }}</p>
                <p>Date d'arrivée : {{ reservation.arrivalString }}</p>
                <p>Date de départ : {{ reservation.departureString }}</p>
                <p>Prix total : {{ reservation.price }}€</p>
                <a href="{{ path('download_pdf', {'id': reservation.id}) }}" class="pdf-btn">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf" viewBox="0 0 16 16">
                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                    <path d="M4.603 14.087a.81.81 0 0 1-.438-.42c-.195-.388-.13-.776.08-1.102.198-.307.526-.568.897-.787a7.68 7.68 0 0 1 1.482-.645 19.697 19.697 0 0 0 1.062-2.227 7.269 7.269 0 0 1-.43-1.295c-.086-.4-.119-.796-.046-1.136.075-.354.274-.672.65-.823.192-.077.4-.12.602-.077a.7.7 0 0 1 .477.365c.088.164.12.356.127.538.007.188-.012.396-.047.614-.084.51-.27 1.134-.52 1.794a10.954 10.954 0 0 0 .98 1.686 5.753 5.753 0 0 1 1.334.05c.364.066.734.195.96.465.12.144.193.32.2.518.007.192-.047.382-.138.563a1.04 1.04 0 0 1-.354.416.856.856 0 0 1-.51.138c-.331-.014-.654-.196-.933-.417a5.712 5.712 0 0 1-.911-.95 11.651 11.651 0 0 0-1.997.406 11.307 11.307 0 0 1-1.02 1.51c-.292.35-.609.656-.927.787a.793.793 0 0 1-.58.029zm1.379-1.901c-.166.076-.32.156-.459.238-.328.194-.541.383-.647.547-.094.145-.096.25-.04.361.01.022.02.036.026.044a.266.266 0 0 0 .035-.012c.137-.056.355-.235.635-.572a8.18 8.18 0 0 0 .45-.606zm1.64-1.33a12.71 12.71 0 0 1 1.01-.193 11.744 11.744 0 0 1-.51-.858 20.801 20.801 0 0 1-.5 1.05zm2.446.45c.15.163.296.3.435.41.24.19.407.253.498.256a.107.107 0 0 0 .07-.015.307.307 0 0 0 .094-.125.436.436 0 0 0 .059-.2.095.095 0 0 0-.026-.063c-.052-.062-.2-.152-.518-.209a3.876 3.876 0 0 0-.612-.053zM8.078 7.8a6.7 6.7 0 0 0 .2-.828c.031-.188.043-.343.038-.465a.613.613 0 0 0-.032-.198.517.517 0 0 0-.145.04c-.087.035-.158.106-.196.283-.04.192-.03.469.046.822.024.111.054.227.09.346z"/>
                  </svg>
                  Télécharger la facture
                </a>
            </div>
            <div class="right-content">
              {% if reservation.advert.images is not empty %}
              <img src="{{ asset('uploads/' ~ reservation.advert.images[0].url) }}"
                alt="{{ reservation.advert.title }} image">
              {% endif %}
            </div>
          </div>
        {# </a> #}
      {% endfor %}
    </div>

    <div id="reservationsSection" style="display: none;" class="fade">
      {% for myReservation in myReservations %}
      {% set cssClass = '' %}
      {% set now = "now"|date("Y-m-d") %}
      {% if myReservation.departureStringForComparison < now %} {% set cssClass='grey-out' %} {% endif %} <div
        class="reservation {{ cssClass }}">
        <div class="left-content">
          <h3>{{myReservation.advert.title}}</h3>
          {% if myReservation.departureStringForComparison < now %} <span class="past">Terminé</span>
            {% elseif myReservation.arrivalStringForComparison > now %}
            <span class="future">À venir</span>
            {% else %}
            <span class="current">En cours</span>
            {% endif %}
            <p>Date d'arrivée : {{myReservation.arrivalString}}</p>
            <p>Date de départ : {{myReservation.departureString}}</p>
            <p>Prix total : {{myReservation.price}}€</p>
            <a href="{{ path('download_pdf', {'id': myReservation.id}) }}" class="pdf-btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf" viewBox="0 0 16 16">
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                <path d="M4.603 14.087a.81.81 0 0 1-.438-.42c-.195-.388-.13-.776.08-1.102.198-.307.526-.568.897-.787a7.68 7.68 0 0 1 1.482-.645 19.697 19.697 0 0 0 1.062-2.227 7.269 7.269 0 0 1-.43-1.295c-.086-.4-.119-.796-.046-1.136.075-.354.274-.672.65-.823.192-.077.4-.12.602-.077a.7.7 0 0 1 .477.365c.088.164.12.356.127.538.007.188-.012.396-.047.614-.084.51-.27 1.134-.52 1.794a10.954 10.954 0 0 0 .98 1.686 5.753 5.753 0 0 1 1.334.05c.364.066.734.195.96.465.12.144.193.32.2.518.007.192-.047.382-.138.563a1.04 1.04 0 0 1-.354.416.856.856 0 0 1-.51.138c-.331-.014-.654-.196-.933-.417a5.712 5.712 0 0 1-.911-.95 11.651 11.651 0 0 0-1.997.406 11.307 11.307 0 0 1-1.02 1.51c-.292.35-.609.656-.927.787a.793.793 0 0 1-.58.029zm1.379-1.901c-.166.076-.32.156-.459.238-.328.194-.541.383-.647.547-.094.145-.096.25-.04.361.01.022.02.036.026.044a.266.266 0 0 0 .035-.012c.137-.056.355-.235.635-.572a8.18 8.18 0 0 0 .45-.606zm1.64-1.33a12.71 12.71 0 0 1 1.01-.193 11.744 11.744 0 0 1-.51-.858 20.801 20.801 0 0 1-.5 1.05zm2.446.45c.15.163.296.3.435.41.24.19.407.253.498.256a.107.107 0 0 0 .07-.015.307.307 0 0 0 .094-.125.436.436 0 0 0 .059-.2.095.095 0 0 0-.026-.063c-.052-.062-.2-.152-.518-.209a3.876 3.876 0 0 0-.612-.053zM8.078 7.8a6.7 6.7 0 0 0 .2-.828c.031-.188.043-.343.038-.465a.613.613 0 0 0-.032-.198.517.517 0 0 0-.145.04c-.087.035-.158.106-.196.283-.04.192-.03.469.046.822.024.111.054.227.09.346z"/>
              </svg>
              Télécharger la facture
            </a>
        </div>
        <div class="right-content">
          {% if myReservation.advert.images is not empty %}
          <img src="{{ asset('uploads/' ~ myReservation.advert.images[0].url) }}"
            alt="{{ myReservation.advert.title }} image">
          {% endif %}
        </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/app.js') }}"></script>
<script src="{{ asset('js/profilPage.js') }}"></script>
<script src="{{ asset('js/animations.js') }}"></script>
{% endblock javascripts %}